
  label {
    display: block;
    margin-bottom: 5px;
  }
 
  .btn-container {
    max-width: fit-content;
    margin: auto;
    text-align: center;
  }
  
  button {
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .shutdown-button-container {
    display: flex;
    justify-content: flex-end; /* Move container to the right */
  }
  .shutdown-button:hover{
    background-color: gray;
  }
  .shutdown-button {
    width: 50px;
    height: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white;
    
  }
  
  .shutdown-button img {
    max-width: 45px;
    max-height: 45px;
  }

