.table-container {
   display: block;
    margin: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
  }
  
  .attribute-selector {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
  }
  
  .attribute-checkbox {
    margin-right: 10px;
    display: flex;
    align-items: center;
    
    
  }
  
  /* Style the checkboxes */
  .attribute-checkbox input {
    margin-right: 5px;
    width: 20px;  /* Set a fixed width for the checkboxes */
    height: 20px; /* Set a fixed height for the checkboxes */
  }
  
  .customer-table {
    
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    
    
  }
  
  .customer-table th,
  .customer-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    
  }
  
  .customer-table th {
    background-color: #f2f2f2;
  }
  